html {
  height: 100%;
  margin: 0;
}
body {
  font-family: sans-serif;
  height: 100%;
  display: flex;
  margin: 0;
}
#userpane {
  background: #00366f;
  width: 200px;
  height: 100%;
  padding: 0 20px;
  color: white;
}
.active {
  color: lightgray;
}
.inactive {
  color: darkgray;
}
.cyan {
  color: cyan;
}
#mainpane {
  width: 100%;
  position: relative;
}
h1 {
  background: url("klack.png") no-repeat;
  background-size: contain;
  padding-left: 60px;
  color: white;
  font-family: "Open Sans";
  font-size: 40px;
}
#messageslist {
  height: calc(100% - 103px);
  overflow-y: scroll;
  overflow-x: wrap;
}
#messageheader {
  font-size: 20px;
  padding: 20px;
}
.message {
  padding: 5px 20px;
}
.message:hover {
  background: #f8f8f8;
}
#newmessage {
  position: absolute;
  border-radius: 10px;
  border: 2px solid lightgray;
  padding: 5px;
  width: calc(100% - 60px);
  margin: 20px;
}
#newmessage:focus {
  border: 2px solid slategray;
  outline: none;
}
